#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0em 2em 0em 2em;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    height: 80px; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  line-height: 80px ;
  font-size: 200%;
}