#nav-bar {
    background-color: #00a087;
    color: #e8fdff;
    height: 80px;
    margin: 0;
    overflow: auto;
    padding: 0em 2em 0em 2em;
    position: fixed;
    width: 100%;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px ;
}

#nav-bar .compose-text {
  background-color: white;
  border: 0px;
  border-radius: 10px;
  float: right;
  font-size: 20px;
  height: 50px;
  margin: 15px;
  padding: 5px;
  width: 160px;
}

#nav-bar .compose-text:hover {
  background-color: #eee;
}

