#nav-bar {
    background-color: #00a087;
    color: #e8fdff;
    height: 80px;
    margin: 0;
    overflow: auto;
    padding: 0em 2em 0em 2em;
    position: fixed;
    width: 100%;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px ;
}