

.new-tweet {
  margin: 20px auto;
  padding: 0em 2em 1em 2em;
  width: 100%;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden
}

h2 {
  padding: 0;
  border-bottom: 1px solid black;
}

.textBox {
  border: 3px solid #eee;
  width: 100%;
}


.Tweet {
  float: left ;
  background-color: #eee;
}

.counter {
  float: right;
  margin-left: 200px;
  font-size: 80%;
}