
h2 {
  border-bottom: 1px solid black;
  padding: 0;
}

.new-tweet {
  background-color: #eee;
  border-radius: 8px;
  display: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0em 2em 1em 2em;
  width: 100%;
}

.text-box {
  border: 3px solid #eee;
  width: 100%;
}

.tweet {
  background-color: #eee;
  float: left ;
}

.counter {
  float: right;
  margin-left: 200px;
}